body{
    background-image: url(../photos/items/rgrg.jpeg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#main{
    width: 95%; 
    border: 5px solid black; 
    justify-self: center; 
    margin-top: 20vh; 
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}
#submit{
    color: white; 
    background-color: brown; 
    height: 5%; width: 90%; 
    margin: 20px 0 10px 5%;
}